@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: #828282;
}
body{
    background: url(../images/backgrd1.png) no-repeat  center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

main{
    margin-top: 30px;
    text-align: center;
    max-width: 450px;
    background-color: #e7e7e7;
    border-radius: 15px;
    padding: 10px 70px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.774);
    

}

span{
    font-size: 1.1rem;
    font-weight: 700;
}

.icons-skills{
    display: flex;
    padding: 20px 0px;
    justify-content: space-around;
}
.icons-skills img{
    width: 40px;
}

.picture img{
    border-radius: 50%;
    max-width: 200px;
    padding: 20px 0px;
}
.info-person{
    padding-bottom: 25px;
}
.info-person h1{
    padding-bottom: 10px;
    
}
.info-skills h2{
    padding-bottom: 5px;
}
.info-skills{
    padding-top: 20px;
}

section{
    margin-top: 30px;
    max-width: 700px;
    text-align: center;
    background-color: #e7e7e7;
    border-radius: 10px;
}
section h1{
    font-size: 2.2rem;
    font-weight: 700;
    padding: 20px 0px 0px 0px;
}
.projeto{
    padding: 25px 15px;
    display: flex;
    align-items: center;
    border-bottom: solid #82828260 2px;
    flex-direction: column;
}

.projeto:last-child{
    border-bottom: none;
}

.projeto img{
    padding-right: 10px;
    width: 150px;
    border-radius: 10%;
}
.projeto h2{
    text-align: left;
    padding-bottom: 10px;
}
.projeto p{
    text-align: justify;
}
.link{
    padding-top: 10px;
    font-weight: 700;
}
.projeto-info{
    display: flex;
}
.projeto-foto p{
    text-align: center;
}
